@model List<GreenAlert.MVC.Models.EstacaoViewModel>

    @{
    ViewData["Title"] = "Estações";
    }

    <h1>Estações</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Localização</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Localizacao</td>
            </tr>
        }
        </tbody>
    </table>
